---
layout: page
title: Airspace
permalink: /
---

<!-- Slider Start -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="block">
                    <h1 class="animated fadeInUp">Konstantinos Giannousis</h1>
                    <img style="border-radius: 500px;" src="img/personal.jpeg" height="100" width="100"
                         alt="my image">
                    <p class="animated fadeInUp">Software engineer and researcher</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>About Me</h2>
                    </div>
                    <p>My name is Konstantinos and I am a Software Engineer, specialized in Service Oriented Desktop
                        and Web applications.<br>
                        My projects involve C4SRI and real/near-real time surveillance systems as well as
                        implementing and REST and web services.
                        Since 2014 I am a member of the <a href="http://www.madgik.di.uoa.gr">Management of Data,
                            Information and Knowledge
                            Group (MADgIK)</a> of the Department of Informatics and Telecommunications.
                        I have been involved as a software engineer and associate researcher in the ATHENA Research
                        Centre with two projects ESPAS and OpenMinTeD.<br>
                        Currently I am a research associate under <a href="http://cgi.di.uoa.gr/~koubarak/">Prof.
                            Manolis Koubarakis</a> at the
                        <a href="https://en.uoa.gr/">National and Kapodistrian University of Athens (UoA)</a>,
                        focusing on Semantic
                        Web Technologies
                        and distributed queries on geospatial and temporal data. I am a member of the <a
                                href="http://kr.di.uoa.gr">Knowledge
                            Representation, Reasoning and
                            Analytics (KRR&A) team</a>, that belongs to the MADgik group.</p>
                </div>
            </div><!-- .col-md-7 close -->
        </div>
    </div>
</section>

<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <ul class="timeline">
                    <li class="timeline-heading text-center animate-box">
                        <div>
                            <h3>Work Experience</h3>
                        </div>
                    </li>

                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Researcher</h3>
                                <span class="company">National and Kapodistrian University of Athens - 2014 - Current</span>
                            </div>
                            <div class="timeline-body">
                                <p>In parallel with my Master Studies I started working as a research
                                    assistant,
                                    specializing in web services and querying techniques over big
                                    geospatial data.</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-inverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Software Engineer</h3>
                                <span class="company">Hellenic Navy - 2010 - 2019</span>
                            </div>
                            <div class="timeline-body">
                                <p>As an Officer of the Hellenic Navy I have served in the Centre of
                                    Automation for Combat Systems (CACS), where I have been a Software Engineer
                                    in C4SRI surveillance systems.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="education">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <ul class="timeline">
                    <li class="timeline-heading text-center animate-box">
                        <div>
                            <h3>Education</h3>
                        </div>
                    </li>
                    <li class="timeline-unverted animate-box">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Masters Degree</h3>
                                <span class="company">National and Kapodistrian University of Athens - 2014 - 2018</span>
                            </div>
                            <div class="timeline-body">
                                <p>My Master was in Advanced Information Systems in the Department of
                                    Informatics and Telecommunications of the National and Kapodistrian
                                    University of Athens.</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-inverted">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Bachelors Degree</h3>
                                <span class="company">National and Kapodistrian University of Athens - 2011 - 2014</span>
                            </div>
                            <div class="timeline-body">
                                <p>I studied Computer Science in the Department of Informatics and
                                    Telecommunications of National and Kapodistrian the University of
                                    Athens.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="block">
                    <img src="img/wrapper-img.png" alt="Img">
                </div>
            </div>
        </div>
    </div><!-- .col-md-5 close -->
</section>

<!-- Start commenting -->

<!--&lt;!&ndash; Service Start &ndash;&gt;-->
<!--<section id="service">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="section-title">-->
<!--<h2>Our Services</h2>-->
<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live-->
<!--the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row ">-->
<!--<div class="col-sm-6 col-md-3">-->
<!--<div class="service-item">-->
<!--<i class="icon ion-coffee"></i>-->
<!--<h4>Branding</h4>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt-->
<!--ut </p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-6 col-md-3">-->
<!--<div class="service-item">-->
<!--<i class="ion-compass"></i>-->
<!--<h4>Web Design</h4>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt-->
<!--ut </p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-6 col-md-3">-->
<!--<div class="service-item">-->
<!--<i class="ion-image"></i>-->
<!--<h4>App Design</h4>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt-->
<!--ut </p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-6 col-md-3">-->
<!--<div class="service-item">-->
<!--<i class="ion-bug"></i>-->
<!--<h4>Start Up</h4>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt-->
<!--ut </p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-6 col-md-3">-->
<!--<div class="service-item">-->
<!--<i class="ion-headphone"></i>-->
<!--<h4>Logo Design</h4>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt-->
<!--ut </p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-6 col-md-3">-->
<!--<div class="service-item">-->
<!--<i class="ion-leaf"></i>-->
<!--<h4>Development</h4>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt-->
<!--ut </p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-6 col-md-3">-->
<!--<div class="service-item">-->
<!--<i class="ion-planet"></i>-->
<!--<h4>Brand Identity</h4>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt-->
<!--ut </p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-6 col-md-3">-->
<!--<div class="service-item">-->
<!--<i class="ion-earth"></i>-->
<!--<h4>Brand Identity</h4>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt-->
<!--ut </p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<!--&lt;!&ndash; Call to action Start &ndash;&gt;-->
<!--<section id="call-to-action">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<div class="block">-->
<!--<h2>We design delightful digital experiences.</h2>-->
<!--<p>Read more about what we do and our philosophy of design. Judge for yourself The work and results-->
<!--we’ve achieved for other clients, and meet our highly experienced Team who just love to-->
<!--design.</p>-->
<!--<a class="btn btn-default btn-call-to-action" href="#">Tell Us Your Story</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<!--&lt;!&ndash; Content Start &ndash;&gt;-->
<!--<section id="testimonial">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="section-title text-center">-->
<!--<h2>Fun Facts About Us</h2>-->
<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live-->
<!--the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--{% if site.data.funfacts.size > 0 %}-->
<!--<div class="block">-->
<!--{% for ff in site.data.funfacts %}-->
<!--<ul class="counter-box clearfix">-->
<!--<li>-->
<!--<div class="block">-->
<!--<i class="{{ ff.icon }}"></i>-->
<!--<h4 class="counter">{{ ff.counter }}</h4>-->
<!--<span>{{ ff.text }}</span>-->
<!--</div>-->
<!--</li>-->
<!--{% endfor %}-->
<!--</ul>-->
<!--</div>-->
<!--{% endif %}-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--{% if site.data.testimonials.size > 0 %}-->
<!--<div class="testimonial-carousel">-->
<!--<div id="testimonial-slider" class="owl-carousel">-->
<!--{% for tm in site.data.testimonials %}-->
<!--<div>-->
<!--<img src="img/cotation.png" alt="IMG">-->
<!--<p>{{ tm.testimonial }}</p>-->
<!--<div class="user">-->
<!--<img src="{{ tm.image }}" alt="Pepole">-->
<!--<p><span>{{ tm.name }}</span> {{ tm.title }}</p>-->
<!--</div>-->
<!--</div>-->
<!--{% endfor %}-->
<!--</div>-->
<!--</div>-->
<!--{% endif %}-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
